.fs12{
	font-size: 12px;
}

.fs14{
	font-size: 14px;
}

.fs16{
	font-size: 16px;
}

.fs18{
	font-size: 18px;
}

.fw400{
	font-weight: 400;
}

.fw700{
	font-weight: 700;
}

.ffMontserrat{
	font-family: 'Montserrat', sans-serif;
}